<!-- Affichage des produits en mode liste de MAtCards pour le moment-->
<mat-card class="example-card" *ngIf="product && type==1">
    <mat-card-header>
      <mat-card-title>{{ product.label }}</mat-card-title>
      <mat-card-subtitle>{{ product.shortDesc }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{product.imageUrl}} alt="Clone's picture" height="200px">
    <mat-card-content>
        <a>Prix : {{product.price_HT}} €</a>
      <p>
       {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions style="position: absolute; bottom: 30px;">
      <button *ngIf='user' mat-button style="left : 60%" (click)='addProductToBasket(product.id)'>Ajouter au panier</button>
      <a *ngIf='!user' style="left : 60%">Veuillez vous connecter pour pouvoir commander</a>
    </mat-card-actions>
</mat-card>

<!--Si c'est contenu dans la HOT bar on l'affiche en mode image-->
<div *ngIf="product && type==2">
  <h3 class="hotname">{{product.label}}</h3>
  <div>
      <img mat-card-image class="center" src={{product.imageUrl}} alt="Product Picture" height="400px">
      <div class="hotPrice">{{product.price_HT}}€</div>
  </div>
  <div class="buttonsBottom">
      <button *ngIf='user' mat-button class="hotButtons" (click)='addProductToBasket(product.id)'>Ajouter au panier</button>
  </div>
</div>

<!--Si c'est dans le panier-->
<mat-card class="example-card-2" *ngIf="product && type==3 && quantity > 0">
        <mat-card-header>
          <mat-card-title>{{ product.label }}</mat-card-title>
          <mat-card-subtitle>{{ product.shortDesc }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{product.imageUrl}} alt="Clone's picture" height="200px">
        <mat-card-content>
            <a>Prix : {{product.price_HT}} €</a><br/>
            <a>Quantité : {{quantity}}</a>
        </mat-card-content>
        <mat-card-actions style="position: absolute; bottom: 30px;">
          <button mat-button style="left:60px;" (click)='addProductToBasket(product.id)'>Ajouter 1</button>
          <button mat-button style="left:60px;" (click)='removeProductFromBasket(product.id)'>Retirer 1</button>
        </mat-card-actions>
    </mat-card>
