<!-- Affichage des produits en mode liste de MAtCards pour le moment-->
<mat-card class="example-card" *ngIf="product && type==1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{product.descriptionShort}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{product.image}} alt="Photo of Toto" height="150px">
    <mat-card-content>
      <p>
       {{product.descriptionShort}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
      <button mat-button>Add To Cart</button>
    </mat-card-actions>
</mat-card>

<!--Si c'est contenu dans la HOT bar on l'affiche en mode image-->
<div *ngIf="product && type==2">
  <h3 class="hotname">{{product.name}}</h3>
  <div>
      <img mat-card-image class="center" src={{product.image}} alt="Product Picture" height="400px">
      <div class="hotPrice">{{product.price}}</div>
  </div>
  <div class="buttonsBottom">
      <button mat-button class="hotButtons" [routerLink]="['/products',product.id]">Afficher les détails</button>
      <button mat-button class="hotButtons">Ajouter au panier</button>
  </div>
</div>