<header>
  <mat-toolbar class="menu-background">
  <a class="menu-titleWebkit" [routerLink]="['/']">PAShop</a>
  <span class="menu-spacer"></span>
  <form #searchProduct="ngForm">
      <mat-form-field class="menu-input">
          <input matInput type="text" name="searchProduct" placeholder="Chercher Un Produit" value="" ngModel #searchProduct="ngModel">
        </mat-form-field>
  </form>
  <button class="menu-button" mat-icon-button [routerLink]="['/search']"><mat-icon class="menu-button-icon">search</mat-icon></button>
  <span class="menu-spacer"></span>

  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-button-icon">account_circle</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['authentication']">Se connecter</button>
    </mat-menu>

  <button class="menu-button" mat-icon-button>
    <mat-icon class="menu-button-icon">shopping_cart</mat-icon>
  </button>
  
  </mat-toolbar>
</header>


