.menu-background { background-color: rgb(20, 140, 220); }
.menu-title {
    color: rgb(241, 241, 241);
    text-decoration: none; 
    font-weight: 900;
    margin-right: 60px
}
.menu-titleWebkit {
    background: -webkit-linear-gradient(135deg, rgb(241, 241, 241), rgb(125, 199, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; 
    font-weight: 900;
    margin-right: 60px
}
.menu-input { color: rgb(235, 235, 235); width: 300px}
.menu-button { color: rgb(235, 235, 235); margin-right: 12px; }
.menu-button-icon { font-size: 30px; padding-right: 14%; padding-bottom: 6%; }
.menu-spacer { flex: 1 1 auto; }