<header>
  <mat-toolbar class="menu-background">
  <a class="menu-title" [routerLink]="['/']">PAShop</a>
  <span class="menu-spacer"></span>
  <mat-form-field class="menu-input">
    <input matInput>
  </mat-form-field>
  <button class="menu-button" mat-icon-button><mat-icon class="menu-button-icon">search</mat-icon></button>
  <span class="menu-spacer"></span>
    <button class="menu-button" mat-icon-button><mat-icon class="menu-button-icon">account_circle</mat-icon></button>
    <button class="menu-button" mat-icon-button><mat-icon class="menu-button-icon">shopping_cart</mat-icon></button>
  </mat-toolbar>
</header>


