footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(20, 140, 220);
    color: rgb(243, 243, 243); text-decoration: none; 
    font-weight: 600;
    left: 0;
    bottom: 0;
    width: 100%;
}