<h2>Bienvenue sur la boutique PAShop!</h2>
<h4>Spécialiste du clonage de célébrités Françaises</h4>
<h3>Présentation</h3>
<p style='margin:0% 5%;'>Créée en 2019 suites aux avancées technologiques sur le clonage humain par ADN, PAShop est une entreprise Française spécialisée dans la création et la vente de célébrités Françaises. Actuellement leader du marché, notre technique et notre savoir faire nous permettent aujourd'hui de reproduire des copies plus vraies que nature que cela soit au niveau physique ou psychologique. Grâce à PAShop, vous pouvez désormais enfin cotoyer les stars qui vous auront fait rêver tout au long de votre vie. <br/> Nos clones se nourissent de croquettes véganes spécialements conçues pour leur bien être. Aucun entretien supplémentaire n'est nécessaire, les clones s'autosuffisent à eux même.</p>
<div><app-product-hot></app-product-hot></div>
