<div class="centered">
<mat-grid-list cols="2" rowHeight="500px" gutterSize="1px">
    <mat-grid-tile>
      <h3 class="top">Déjà Utilisateur?</h3>
      <div class="top2">
          <form #login="ngForm">
              <a class="inputs">Connectez vous</a> <br/>
              <mat-form-field class="inputs">
                <input matInput type="email" name="Email" placeholder="Adresse mail" value="" required ngModel #Email="ngModel">
                <mat-error *ngIf="login.hasError('required')">Veuillez entrer une adresse mail</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field class="inputs">
                <input matInput type="password" name="Password" placeholder="Mot de passe" value="" required ngModel #Password="ngModel">
                <mat-error *ngIf="login.hasError('required')">Veuillez entrer un mot de passe</mat-error>
              </mat-form-field>
                <br/>
              <button style="left:60%" mat-raised-button [disabled]="login.invalid" (click)="sendFormLogin(login.value)">Connexion</button>
            </form>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3 class="top">Nouvel Arrivant?</h3>
      <div class="top2">
          <form #register="ngForm">
              <a class="inputs">Inscrivez vous</a> <br/>
              <mat-form-field class="inputs">
                  <input matInput type="email" name="Email" placeholder="Adresse mail" value="" required ngModel #Email="ngModel">
                  <mat-error *ngIf="register.hasError('required')">Veuillez saisir une adresse mail</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field class="inputs">
                  <input matInput type="password" name="Password" placeholder="Mot de passe" value="" required ngModel #Password="ngModel">
                <mat-error *ngIf="register.hasError('required')">Veuillez saisir un mot de passe</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field class="inputs">
                  <input matInput type="text" name="Name" placeholder="Nom" value="" required ngModel #Name="ngModel">
                <mat-error *ngIf="register.hasError('required')">Veuillez indiquer votre nom</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field class="inputs">
                  <input matInput type="text" name="LastName" placeholder="Prénom" value="" required ngModel #LastName="ngModel">
                <mat-error *ngIf="register.hasError('required')">Veuillez indiquer votre prénom</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field class="inputs">
                  <textarea matInput name="Address" placeholder="Adresse" value="" required ngModel #Address="ngModel"></textarea>
                  <mat-error *ngIf="register.hasError('required')">Veuillez indiquer votre adresse</mat-error>
                </mat-form-field>
                <br/>
                <button style="left:60%" mat-raised-button [disabled]="register.invalid" (click)="sendFormRegister(register.value)">S'inscrire</button>
            </form>
      </div>
    </mat-grid-tile>
</mat-grid-list>
</div>
